.empty {
	padding: 30px;
	display: flex;

	&__content {
		margin-left: 50px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-width: 280px;
	}

	&__desc {
		font-size: 16px;
	}

	&__img {}

	&__title {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 12px;
	}
}