.container {
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;

    width: 100%;
    max-width: 770px;

    // @include sm {
    //     max-width: 540px;
    // }
    // @include md {
    //     max-width: 720px;
    // }
    // @include lg {
    //     max-width: 960px;
    // }
    // @include xl {
    //     max-width: 1140px;
    // }
    // @include xxl {
    //     max-width: 1320px;
    // }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -20px;
    margin-left: -20px;
}

.col {
    padding-right: 20px;
    padding-left: 20px;
    flex: 0 0 50%;
    max-width: 50%;
}