$gray: #F1F5F9;
$dark-gray: #79818C;
$med-gray: #D8D8D8;

$dark: #818181;
$dark2: #9BA3AE;

$black: #1F1F25;

$blue: #367EE7;
$blue2: #E5EFF9;
$blue3: #EAF1F9;

$yellow: #FFD400;
$yellow-hover: #FDCA21;
$yellow-active: #FFD138;

$br: 8px